@import url('components/topnavbar_styles.css');
@import url('components/form_styles.css');
@import url('components/button_styles.css');
@import url('components/sidebar_styles.css');

/* fonts */
@font-face {
  font-family: Poppins-Regular;
  src: url(fonts/Poppins-Regular.ttf);
}

body {
  font-family: Poppins-Regular;
  font-size: small;
  text-align: left;
  margin: 0px;
}