
/* login register form submit button */
.form-btn{
  background-color: #45df4a;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: .2s all;
}

.form-btn:hover{
  background-color: #3fca3f;
  border-radius: 5px;
} 

.publish-announcement-btn{
  cursor: pointer;
}
.publish-announcement-btn:hover{
  border-radius: 10px; 
}

.delete-btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #FFFFFF;
  border-radius: 16px;
  border: 1.5px solid #8B0000;
  color: #8B0000;
  background-color: transparent;
}
.delete-btn:hover {
  background-color: #8B0000;
  color: #FFFFFF !important;
}

.edit-btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  background-color: #FFFFFF;
  border-radius: 16px;
  border: 1.5px solid #185427;
  color: #185427;
  background-color: transparent;
}

.edit-btn:hover {
  background-color: #185427;
  color: #FFFFFF !important;
}

.submit-btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  background-color: #FFFFFF;
  border-radius: 16px;
  border: 1.5px solid #185427;
  color: #185427;
  background-color: transparent;
}
.submit-btn:hover {
  background-color: #185427;
  color: #FFFFFF !important;
}

.cancel-btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #FFFFFF;
  border-radius: 16px;
  border: 1.5px solid #8B0000;
  color: #8B0000;
  background-color: transparent;
}
.cancel-btn:hover {
  background-color: #8B0000;
  color: #FFFFFF !important;
}
.tab-btn {
  border: none;
  background-color: transparent;
  font-size: large;
  font-weight: 600;
  color: #B1B1B1;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  outline: none;
}
.tab-btn:hover {
  color: #15742D;
}
.tab-btn-active-tab {
  border: none;
  background-color: transparent;
  font-size: large;
  font-weight: 600;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  border-bottom: #15742D 2px solid;
  color: #15742D;
}

